

div.div-container div.CustomTextOutput a:link { color: lightskyblue; }
div.div-container div.CustomTextOutput a:visited { color: #6d4b8d; }
div.div-container div.CustomTextOutput a:hover { color: #ffffff; }
div.div-container div.CustomTextOutput a:active { color: #ff4040; text-decoration:none; font-weight:normal; }
div.div-container div.CustomTextOutput pre {
border: 1px solid gray;
background-color: #202020;
}

div.div-container div.CustomTextOutput * {
margin: 0px;
}

div.div-container div.CustomTextOutput table,
div.div-container div.CustomTextOutput th,
div.div-container div.CustomTextOutput td {
  border: 1px solid white;
  border-collapse: collapse;
}

div.div-container textarea.CustomTextarea::selection {
  /*color: gold;	*/
  background-color: gray;
}

div.div-container textarea.CustomTextarea::-moz-selection{
  /*color: gold;	*/
  background-color: gray;
}

div.div-container div.CustomTextDiv {
position: relative;
padding-bottom: 4px;
min-height: 50px;
}

div.div-container div.CustomTextDiv.deselected {
flex-grow: 1
}

/* CustomTextDiv and the custominputdiv */
div.div-container .nameText {
position: absolute;
top: 2px;
right: 4px;
color: DarkGray;
user-select: none
}

div.div-container div.selected .nameText{
display: none
}

div.div-container {
display: flex;
flex-direction: column;
}

div.div-container div.CustomTextDiv div.CustomTextOutput {
font-family: monospace;
overflow: auto;
resize: none;
white-space: pre;
background-color: black;
color: white;
width: 100%;
height: 100%;
position: absolute;
}

div.div-container div.CustomTextDiv.deselected div.CustomTextOutput {
border-radius: 2px;
border: 0px;
padding: 3px;
}

div.div-container div.CustomTextDiv.selected div.CustomTextOutput {
border-radius: 4px;
border: 1px solid white;
padding: 2px;
}

div.div-container div.div-innercontainer {
width: 100%;
height: 100%;
display: flex;
flex-direction: column
}

div.div-container div.CustomTextDiv .CustomTextarea {
resize:none;
background-color: black;
color: white;
border: 0px;
}