

div.div-container div.CustomTextOutput a:link { color: lightskyblue; }
div.div-container div.CustomTextOutput a:visited { color: #6d4b8d; }
div.div-container div.CustomTextOutput a:hover { color: #ffffff; }
div.div-container div.CustomTextOutput a:active { color: #ff4040; text-decoration:none; font-weight:normal; }
div.div-container div.CustomTextOutput pre {
border: 1px solid gray;
background-color: #202020;
}

div.div-container div.CustomTextOutput * {
margin: 0px;
}

div.div-container table,div.div-container th,div.div-container td {
  border: 1px solid white;
  border-collapse: collapse;
}

div.div-container textarea.CustomTextarea::selection {
  /*color: gold;	*/
  background-color: gray;
}

div.div-container textarea.CustomTextarea::-moz-selection{
  /*color: gold;	*/
  background-color: gray;
}

div.div-container div.CustomTextDiv {
position: relative;
padding-bottom: 4px;
min-height: 50px;
}

div.div-container div.CustomTextDiv.deselected {
flex-grow: 1
}

div.div-container div.CustomTextDiv .nameText {
position: absolute;
top: 2px;
right: 4px;
color: DarkGray;
user-select: none
}

div.div-container div.CustomTextDiv.selected .nameText{
display: none
}