

div.div-container div.CustomTextDiv div.CustomTextOutput {
font-family: monospace;
overflow: auto;
resize: none;
white-space: pre-wrap !important;
background-color: black;
color: white;
position: absolute;
}

div.div-container div.CustomTextDiv.selected div.CustomTextOutput {
width: max-content;
min-width: 100%;
max-width: 70vw;

height: auto;
min-height: 100%;
max-height: 70vh;

padding: 2px;
padding-right: 12px;

}


div.div-container div.CustomTextDiv.deselected div.CustomTextOutput {
width: 100%;
height: 100%;
}


div.div-container div.CustomTextDiv.deselected div.CustomTextOutput {
border-radius: 2px;
border: 0px;
padding: 3px;
}

div.div-container div.CustomTextDiv.selected div.CustomTextOutput {
border-radius: 4px;
border: 1px solid white;
/* padding: 2px; */
}


div.div-container div.CustomTextOutput span.katex-html {
display: none
}

div.div-container div.CustomTextOutput span.katex-display {
display: block
}

div.div-container div.CustomTextOutput span.katex-mathml {
font-size: large
}

div.div-container div.CustomTextOutput span[title] > span.katex-display {
display:inline-block
}

/*
   MARKDOWN
*/

div.div-container div.CustomTextOutput.markdown_on menclose[notation=box] {
    border: 3px solid white;
    padding: 5px;
}

div.div-container div.CustomTextOutput.markdown_on td{
    border: 2px solid white !important;
    padding: 4px;
}

div.div-container div.CustomTextOutput.markdown_on th{
    border: 3px solid white !important;
    padding: 4px;
}

div.div-container div.CustomTextOutput.markdown_on table{
    border: 3px solid white;
}
