
.CustomToggleButton {
    position: absolute;
    right: 4px;

}


.CustomToggleButton > .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.CustomToggleButton .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.CustomToggleButton .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.CustomToggleButton .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.CustomToggleButton input:checked + .slider {
  background-color: #2196F3;
}

.CustomToggleButton input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.CustomToggleButton  input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.CustomToggleButton  .slider.round {
  border-radius: 34px;
}

.CustomToggleButton  .slider.round:before {
  border-radius: 50%;
}