/*
  TEXT FORMATTING

*/

div.div-container div.CustomTextOutput a:link { color: lightskyblue; }
div.div-container div.CustomTextOutput a:visited { color: #6d4b8d; }
div.div-container div.CustomTextOutput a:hover { color: #ffffff; }
div.div-container div.CustomTextOutput a:active { color: #ff4040; text-decoration:none; font-weight:normal; }
div.div-container div.CustomTextOutput pre {
border: 1px solid gray;
background-color: #202020;
}

/* div.div-container div.CustomTextOutput * {
margin: 0px;
}*/

div.div-container div.CustomTextOutput p {
margin-top: 0.5em;
margin-bottom: 0.5em;
}

div.div-container div.CustomTextOutput blockquote {
margin-left: 10px;
}

div.div-container div.CustomTextOutput table,
div.div-container div.CustomTextOutput th,
div.div-container div.CustomTextOutput td {
  border: 1px solid white;
  border-collapse: collapse;
}

div.div-container div.CustomTextOutput ul ,
div.div-container div.CustomTextOutput ol {
  display: grid
}

div.div-container div.CustomTextOutput blockquote {
    white-space: pre-line;
    background-color: #404040;
    border-left: 5px solid white;
    padding-left: 5px;
    border-radius: 5px;
}

div.div-container div.CustomTextOutput pre > code {

}

div.div-container div.CustomTextOutput p > code {
    background-color: #202020;
}

/*
  OTHER
*/


div.div-container div.CustomTextDiv div.CustomTextOutput {
font-family: monospace;
overflow: auto;
resize: none;
white-space: pre-wrap !important;
background-color: black;
color: white;
position: absolute;
}

div.div-container div.CustomTextDiv.selected div.CustomTextOutput {
width: max-content;
min-width: 100%;
max-width: 70vw;

height: auto;
min-height: 100%;
max-height: 70vh;

padding: 2px;
padding-right: 12px;

}


div.div-container div.CustomTextDiv.deselected div.CustomTextOutput {
width: 100%;
height: 100%;
}


div.div-container div.CustomTextDiv.deselected div.CustomTextOutput {
border-radius: 2px;
border: 0px;
padding: 3px;
}

div.div-container div.CustomTextDiv.selected div.CustomTextOutput {
border-radius: 4px;
border: 1px solid white;
/* padding: 2px; */
}


div.div-container div.CustomTextOutput span.katex-html {
display: none
}

div.div-container div.CustomTextOutput span.katex-display {
display: block
}

div.div-container div.CustomTextOutput span.katex-mathml {
font-size: large
}

div.div-container div.CustomTextOutput span[title] > span.katex-display {
display:inline-block
}

/*
   MARKDOWN
*/

div.div-container div.CustomTextOutput.markdown_on menclose[notation=box] {
    border: 3px solid white;
    padding: 5px;
}

div.div-container div.CustomTextOutput.markdown_on td{
    border: 2px solid white !important;
    padding: 4px;
}

div.div-container div.CustomTextOutput.markdown_on th{
    border: 3px solid white !important;
    padding: 4px;
}

div.div-container div.CustomTextOutput.markdown_on table{
    border: 3px solid white;
}

div.div-container div.CustomTextOutput.markdown_on p{
    margin-top: 0px;
    margin-bottom: 1.0em;
}