
div.litegraph > div.header
{
z-index: 1;
display: flex;
flex-direction: row;
}

div.litegraph > div.header > div.tools
{
position: relative !important;

}

div.litegraph > div.header > div.tools-left
{
margin-right: auto;
}

div.litegraph > div.header > div.tools-right
{
white-space: nowrap;
}

div.litegraph > div.header  .tool_buttons
{
    white-space: nowrap;
}

div.litegraph > div.header > div.tools-left input
{
    z-index: 10;
}

div.litegraph > div.header > div.tools-left .selector-bar
{
    margin-right: 50px;
}

div.litegraph > div.header > div.tools-left .selector-main
{
    z-index: 8;
}

div.litegraph > div.header > div.tools-left .selector-extras
{
    z-index: 5;
    display: none;
}


div.div-container div.CustomTextOutput a:link { color: lightskyblue; }
div.div-container div.CustomTextOutput a:visited { color: #6d4b8d; }
div.div-container div.CustomTextOutput a:hover { color: #ffffff; }
div.div-container div.CustomTextOutput a:active { color: #ff4040; text-decoration:none; font-weight:normal; }
div.div-container div.CustomTextOutput pre {
border: 1px solid gray;
background-color: #202020;
}

/* div.div-container div.CustomTextOutput * {
margin: 0px;
}*/

div.div-container div.CustomTextOutput p {
margin-top: 0.5em;
margin-bottom: 0.5em;
}

div.div-container div.CustomTextOutput blockquote {
margin-left: 10px;
}

div.div-container div.CustomTextOutput table,
div.div-container div.CustomTextOutput th,
div.div-container div.CustomTextOutput td {
  border: 1px solid white;
  border-collapse: collapse;
}

div.div-container div.CustomTextOutput ul ,
div.div-container div.CustomTextOutput ol {
  display: grid
}

div.div-container div.CustomTextOutput blockquote {
    white-space: pre-line;
    background-color: #404040;
    border-left: 5px solid white;
    padding-left: 5px;
    border-radius: 5px;
}

div.div-container div.CustomTextOutput pre > code {

}

div.div-container div.CustomTextOutput p > code {
    background-color: #202020;
}

div.div-container textarea.CustomTextarea::selection {
  /*color: gold;	*/
  background-color: gray;
}

div.div-container textarea.CustomTextarea::-moz-selection{
  /*color: gold;	*/
  background-color: gray;
}

div.div-container div.CustomTextDiv {
position: relative;
padding-bottom: 4px;
min-height: 50px;
}

div.div-container div.CustomTextDiv.deselected {
flex-grow: 1
}

/* CustomTextDiv and the custominputdiv */
div.div-container .nameText {
position: absolute;
top: 2px;
right: 4px;
color: DarkGray;
user-select: none;
pointer-events: none;
}

div.div-container div.selected .nameText{
display: none;
}

div.div-container {
display: flex;
flex-direction: column;
}


div.div-container div.div-innercontainer {
width: 100%;
height: 100%;
display: flex;
flex-direction: column
}

div.div-container div.CustomTextDiv .CustomTextarea {
resize:none;
background-color: black;
color: white;
border: 0px;
}


div.div-container div.CustomInputDiv .CustomTextInput {
resize: none;
border:0px solid;
border-radius: 10px;
background-color: #202020;
color: white;
padding-left: 6px;
padding-top: 0px;
padding-bottom = 2px;
}



	
/*

	TITLEBAR container

*/

.titlebar-container > .titlebar-header {
	float: right;
	padding: 5px;
	display: flex;
	align-items: center;
	margin-left: auto;
}

.titlebar-container > .titlebar-dialog {
	display: none;
}

.titlebar-container .titlebar-buttons {
	display: none;
}

.titlebar-container .titlebar-buttons > * {
	padding: 2px;
	cursor: pointer;
}

.titlebar-container.focused  .titlebar-buttons {
	display: flex !important;
	flex-direction: row;
}

.titlebar-container.focused > .titlebar-dialog {
	display: block !important;
	background-color: black;
	
	padding: 5px;
}

.titlebar-container.focused {
	box-shadow: 0 0 0 2px white;
}

.titlebar-container{
	display: flex;
	flex-direction: column;
}