/*
   TOOL SELECTION
*/

div.tools-top {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 155px;
}

div.tool-selection {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    overflow: auto;
    min-height: 105px;
}

div.active-tools-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    min-height: 50px;
    background-color: black;
}

div.tool-selection .category {
      border:1px solid gray;

      /* border-radius: 10px; */
      margin-bottom: 5px;

      /* display: flex;
      flex-direction: column; */
    }

div.tool-selection .category-header {
      padding: 4px;

      cursor: pointer;
      font-weight: bold;
      display: flex;
      background-color: #202020;
    }

div.tool-selection .category.focused .category-header {
      background-color: #404040 !important;
    }

div.tool-selection .category-title {
      display: flex;
      flex: 1;
    }

div.tool-selection .category-counter {
      margin-right: 5px;
    }

div.tool-selection .tool-selection-tools {
        display: none;
        background-color: #302020;
        position: absolute;
        width: 100%;
        border:2px solid white;
        border-radius: 4px;

    }

div.tool-selection .category.focused .tool-selection-tools{
      display: block !important;
    }

/*div.tool-selection .category.focused .tool-selection-tools-outer{
      position: relative;
    }
    */

div.tool-selection .category-header input{
        right: 4px;
        position: absolute;
    }

div.tool-selection .tool {
      cursor: pointer;
      border:2px solid white;
      padding: 4px;
    }

div.tool-selection .tool.selected {
      background: #008000 !important;
    }